@model IEnumerable<consumeApi1.Models.AddressCustomer>

@{
    ViewData["Title"] = "GetCustomerAddress";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Get Customer Address</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if(ViewBag.customer != null)
{

        <h1>CUSTOMER: @ViewBag.customer</h1>

}
<table class="table">
    <thead>
        <tr>
@*            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idcustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressType)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.CountryCode)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
@*            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idcustomer)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.AddressType)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.CountryCode)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
